@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.notice-content {
  border: solid thin;
  border-color: #9e9e9e;
  margin: 0 -1px -1px 0;
  padding: 10px;
}

.nav-icon {
  cursor: hand;
}

.search .button {
  margin-top: 10px;
}