@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import 'font-awesome-sprockets';
@import 'font-awesome';

.notice-content {
  border: solid thin;
  border-color: #9e9e9e;
  margin: 0 -1px -1px 0;
  padding: 10px;
}

.nav-icon {
  cursor: hand;
}

.search .button {
  margin-top: 10px;
}

.status {
  position: absolute;
  z-index: 1;
}
.purchase {
  color: red;
}
.abandonment {
  color: blue;
}
.card .card-action {
  padding-bottom: 30px;
}
.card-info {
  font-size: 18px;
  padding: 0;
  color: #2E2F30;
  display: flex;
  justify-content: space-between;
}

.card .card-title {
  height: 80px;
}

.image-content {
  display: flex;
  flex-wrap: wrap;
}

.card-image img{
  width: auto;
  height: 250px;
  object-fit: cover;
}

.image-container img {
  margin: 10px;
  width: 400px;
  height: 300px;
  border: solid;
  object-fit: contain;
}

.show-content {
  margin: 10px;
  width: 250px;
  height: 300px;
  border: solid;
}

.post-content {
  margin: 10px;
  width: 670px;
  height: 300px;
  border: solid;
}

.show-title {
  margin: 10px;
  border: solid;
  width: 670px;
}

.show-comment {
  margin: 10px;
  border: solid;
  width: 670px;
}

.comment-form {
    margin: 10px;
  border: solid;
  width: 670px;
}

.comment-button {
  text-align: center;
}

.card-title {
  height: 50px;
}
#img_field {
  font-size: 15px;
  margin-top: 10px;
  padding: 5px 8px;
  border: solid 1px #EDBC6C;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
}

#img_field i {
  font-size: 100px;
  color: #aaa;
  padding-left: 140px;
  line-height: 250px;
  transition: 0.3s ease-out;
}

#img_field i.add {
  display: none;
  font-size: 50px;
  position: absolute;
  top: -90px;
  right: 15px;
}

#img_field:hover {
  background-color: #EDBC6C;
  transition: 0.3s ease-out;
  opacity: 0.9;
}

#img_field:hover i {
  transition: 0.3s ease-out;
  display: block;
  color: #fff;
}

//post-show

.show-title {
  text-align: center;
}